body {
    background: #3b5d70;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
.container{
    width: 800px;
    margin: 30px auto;
    color: white;
    text-align: center;
}
h1, 
h2, 
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 2.6rem;
    text-transform: capitalize;
}
#seconds,
#tens{
    font-size: 2em;
}
button{
    width: 150px;
    height: 50px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
}
button:hover{
    background: white;
    color: #3b5d70;
    font-weight: 800;
    text-transform: capitalize;
}